* {
  font-size: 1em;
  background-color: #F2AAAE;
}

body {
  font-family: Georgia, serif;
}

header {
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  display: block;
}

h1 {
  font-size: 2.1em;
  font-weight: bold;
  color: #901E1B;
  width: auto;
  background-color: rgba(0,0,0,0);
  display: inline-block;
}

h2{
  font-size: 1.5em;
  font-weight: bold;
  color: #901E1B;

}

nav {
  float: left;
  width: auto;
  text-align: left;
  padding: 0.5em 1em;
}

nav li {
  padding: 0.5em 0.5em;
  margin: 0.3em;
  background-color: #F2999C;
}

nav ul :hover {
  background-color: #FADAC7;
}

nav a {
  text-decoration: none;
  background-color: inherit;
  height: 100%;
  width: 100%;
}

main {
  padding: 1em;
}

p {
  font-size: 1em;
  padding: 0.5em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: left;
  text-align: center;
  background-color: rgba(100,100,100,0.5);
  color: #901E1B;
}

.grey-background {
  background-color: rgba(100,100,100,0.5);
}

#plumbusTransparentLogo {
  display: inline;
  height: 2em;
  width: 1.5em;
  padding-top: 0.2em;
  background-color: rgba(0,0,0,0);
}

#plumbusTransparent {
  height: 20em;
  width: 15em;
}

.menuButtonContainer {
  float: left;
  padding-left: 0.5em;
  background-color: rgba(0,0,0,0);
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#navMenu {
  display: block;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2em;
  }

  #plumbusTransparentLogo {
    height: 2em;
    width: 1.5em;
  }

  li {
    font-size: 1em;
  }

  .menuButtonContainer {
    padding-left: 0.5em;
    background-color: rgba(0,0,0,0);
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
  }

  #navMenu {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .menuButtonContainer {
    padding-left: 0.5em;
    background-color: rgba(0,0,0,0);
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
  }

  #navMenu {
    display: none;
  }
}

div img{
  float: left;
  width: 400px;
  height: 250px;
  
}

h3{
  font-weight: bold;
  font-size: 2em;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


td{
  vertical-align: middle;
  text-align: center;
  padding: 0;
  /*  border: solid black 1px; */
}
