* {
  font-size: 1em;
  background-color: #F2AAAE;
}

header {
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #901E1B;
  background-color: rgba(100,100,100,0.5);
}

nav {
  float: left;
}

p {
  font-size: 1em;
  padding-left: 150px;
  padding-top: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: left;
  text-align: center;
  background-color: rgba(100,100,100,0.5);
  color: #901E1B;
}

.grey-background {
  background-color: rgba(100,100,100,0.5);
}
